*{
    margin: 5px;
    padding: 5px;
}
.container{
    display:flex ;
    justify-content: space-around;
}
.left-inputs{
    text-align: left;
    border-radius: 10px;
}
.required{
    color: red;
    padding-top: 4px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 15
  }
  #info{
    font-size: 15px;
  }
  .adding-on{
    display: inline;
  }
  .add-on{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0;
    margin-left: 15px;
    border-radius: 4px;
  }
  #add-input, #button{
    border: none;
  }
  #button{
    padding: 0;
    border: 1px solid black;
  }
 #select-option, input[type="text"]{
    width: 100%;
  }
  .right-inputs{
    text-align: left;
    width: 40%;
    padding-top: 30px;

  }
  #search, #searchbar{
    padding: 0;
    margin: 0;
    border: none;
  }
  #search-bar{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 4px;
  }
  .slider:before {
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    transition: 0.5s;
    border-radius: 35px;
  }
  .switch input{display:none};
  .slider:before {
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 35px;
  }